* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: scroll;
  background: white;
}

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}

.container-fluid {
  background-color: white;
  padding: 0;
}

.main-header {
  color: white;
  fill: white;
  font-size: 16px;
  height: 95px;
  padding: 20px 10px 15px 10px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  justify-content: space-between;
  background-color: red;
}

svg {
  max-height: 100px;
}

nav li a {
  color: black;
}

article h3 a {
  color: black;
  font-style: bold;
}

.main-header a {
  color: white;
  padding: 4px 10px;
}

.main-header .sign-in {
  min-width: 82px;
}

.action .subscribe {
  min-width: 190px;
  color: red;
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

nav {
  font-size: 21px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgb(109, 106, 106);
}

.editor-pick article h3 a {
  color: black;
}

.main-header a:hover {
  text-decoration: none;
  color: black;
}

.main-header a:first-child {
  padding: 0 12px;
}

nav form {
  right: 4vw;
  top: 10%;
}

nav form input {
  height: 54px;
  width: 79px;
  border: none;
}

nav::before {
  position: absolute;
  width: 66px;
  top: 0;
  right: 0;
  content: "";
  display: block;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

nav ul {
  padding: 15px 160px 15px 0;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

nav li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-left: 1px solid #d9d9d9;
}

nav li:first-child {
  border: none;
}

.featured-stories {
  background-color: white;
}

.featured-stories a:hover {
  color: #f72210;
}

.main-section {
  padding: 20px 30px 0;
  line-height: 24px;
}

.main-section h2 {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: bold;
}

.main-section p {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 20px;
}

.main-section img {
  width: 100%;
}

.featured figure {
  margin-bottom: 10px;
}

.featured h3 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.featured img {
  width: 100%;
}

figcaption {
  bottom: 0;
  left: 0;
  background: #e7e8e8;
  font: bold;
  color: #f72210;
  padding: 8px 15px 9px;
}

.land-midle h3 {
  font-size: 22px;
  font-weight: 700;
}

.culture-travel {
  background-color: #f1f1f8;
}

.top-story a:hover {
  color: #f72210;
}

.culture-travel a:hover {
  text-decoration: none;
  color: red;
}

.more-stories a:hover {
  color: #f72210;
}

.culture-travel p {
  color: #8e8f90;
}

.culture-travel .tag {
  background: #c2d4d7;
  padding: 6px;
}

.more-stories article {
  border-top: 1px solid #ddd;
}

.more-stories h3 {
  font-size: 17px;
  line-height: 20px;
}

.opinion {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.opinion a:hover {
  color: #f72210;
}

.rightSide h3 {
  font-size: 17px;
}

.rightSide span {
  color: #5a5959;
}

.opinion article {
  border-bottom: 1px solid #ddd;
}

.opinion article:last-of-type {
  border-bottom: none;
}

.latest-news {
  font-size: 17px;
  font-weight: 700;
  line-height: 21px;
}

.middle-articles h3 {
  font-size: 16px;
  font-size: 20px;
  line-height: 20px;
}

.sponsored-article h3 {
  margin-left: 10px;
}

.editor-pick h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.latest-news article h3 {
  font-size: 17px;
  font-weight: 700;
}

.latest-news article:last-of-type {
  border-bottom: none;
}

.news-letter {
  min-width: 260px;
  background: #e5e5e5;
  font: bold 19px/19px "Roboto Condensed", sans-serif;
}

.news-letter .sign-up {
  background: #666;
}

.mag a:hover {
  text-decoration: none;
}

.news-letter span:last-of-type a {
  color: #333;
}

.news-icon {
  position: relative;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
  width: 28px;
  height: 28px;
}

.sponsored-article {
  border: 1px solid #e6e6e6;
  margin-bottom: 30px;
}

.sponsored-article p {
  margin-left: 10px;
}

.sponsored-article figcaption {
  bottom: 0;
  left: 0;
  background: #e7e8e8;
  font: bold;
  color: #3581f4;
  padding: 8px 15px 9px;
}

.midle-title {
  border-bottom: 1px solid #d9d9d9;
}

.last-shown {
  overflow-x: hidden;
}

.middle-articles .mag img {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.more-articles article .back-images,
.after-magazine article .back-images {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: 50%;
}

.big-title-1,
.big-title-2,
.big-title-3 {
  font-size: 19px;
  font-weight: 700;
  text-decoration: none solid rgb(51, 51, 51);
  margin-left: 10px;
}

.icon-n-title {
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat;
  background-color: #f73210;
  width: 28px;
  height: 28px;
  margin-left: 10px;
}

.b-img-1 {
  background-image: url(https://d.newsweek.com/en/full/1555301/fe-queen-02-1175861265.webp?w=466&h=311&l=52&t=20&q=90&f=b465ad88a227817f5e10c6870b784301);
}

.b-img-2 {
  background-image: url(https://d.newsweek.com/en/full/1554036/donald-trump.webp?w=466&h=311&q=90&f=0adb959e0da2c23f6ffe3779dea3b59d);
}

.b-img-3 {
  background-image: url(https://d.newsweek.com/en/full/1555283/per-durham-01-banner.webp?w=466&h=311&l=51&t=38&q=90&f=d0c02907def67ab44db9659b57a0d877);
}

.b-img-4 {
  background-image: url(https://d.newsweek.com/en/full/1555244/per-mathqanda-banner.webp?w=466&h=311&q=90&f=299d38584520b38dbb048bcb17b850e4);
}

.b-img-5 {
  background-image: url(https://d.newsweek.com/en/full/1555857/cul-map-wellness-morocco.webp?w=466&h=311&q=90&f=fbdb51d8b5a230ed9cfdee635fe19372);
}

.b-img-6 {
  background-image: url(https://d.newsweek.com/en/full/1554653/cul-ps-erivo-banner.webp?w=466&h=311&l=48&t=38&q=90&f=4d2f648271497646b6f7dc7999df4b46);
}

.middle-articles article .see-all {
  color: #333;
}

.middle-articles article h3 a:hover {
  color: #f73210;
}

.editor-pick article h3 a:hover {
  text-decoration: underline;
  color: #f72210;
}

.featured-slide-show article h3 {
  font-size: 23px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 40px;
}

.featured-slide-show figcaption {
  line-height: 44px;
  text-align: center;
  width: 70px;
  height: 52px;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0 / contain no-repeat;
}
